* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 40em;
    margin: 5em auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.header img {
    width: 100px;
    height: auto;
}

.header p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message {
    color: red;
    margin-bottom: 10px;
    display: none;
}

.input-email {
    margin-bottom: 20px;
}

.login input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login input[type="submit"]:hover {
    background-color: #45a049;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #da190b;
}
